	body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	
}
a{
	text-decoration: none;
}
img{
	width:200px;
	margin-top: -20px;
	margin-bottom: -10px;
	height: 65px;
}
 ul.dropmenu{
        background-color: black;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid gray;
        height: 50px;
        z-index: 1;
        border-top:1px solid gray;
        position: fixed;
        padding-right: 24.5px;
        width: 100%;
    }
 li.dropmenu{
 	display: inline-block;
 	overflow: hidden;
 }
 .drpDown{
 	display: block;   /*penting*/
 	position: absolute; /*penting*/
 	background-color: darkslateblue;
 	margin: 0; /*penting*/
 	padding: 0; /*penting*/
 }
 .drpDown a{
 	text-decoration: none; 
 	color: #fff;
 	display: none; /*penting*/
 	padding: 14px 16px; /*penting*/
 }
 .drpDown a:hover{
 	background-color: #000;
 }
 li.dropmenu:hover .drpDown a{
 	display: block;                /*penting*/
 }
 li.content{
 	display: inline-block;
 	overflow: hidden;
 	position: static;
 	margin-bottom: 1px;
 }
 li a.content {
 	font-weight: bolder;
 	position: relative;
 	color: white;
 	font-family: sans-serif;
 	padding: 14pc 16px;
 	text-decoration: none;
 }
 li a.content:hover {
 	color: gray;
 }
 li.content1{
 	margin-top: 5px;
 	position: relative;
 	display: inline-block;
 }
 li.logo{
 	display: inline-block;
 	position: absolute;
 	margin-top: -5px;
 }
 img.img-navbar{
 	margin-top: -2px;
 	cursor: pointer;
 }
 li.content2{
 	display: inline-block;
 	margin-left: 835.5px;
 	margin-top: 10px;
 	overflow: hidden; 
 	font-weight: bolder;
 }
 .dropmenu-content{
 	display: block;
 	padding: 0px;
 	margin: 0px;
 	background-color: white;
 	position: absolute;
 	border-right: 1px solid grey;
 	border-left: 1px solid grey;
 }
 .dropmenu-content a{
 	font-family: sans-serif;
 	display: none;
 	color: grey;
 	text-decoration: none;
 	padding: 10px 12px;
 }
 .dropmenu-content a:hover{
 	color: red;
 	transition:400ms;
 }
input.searchbox{

	width: 150px;
	line-height: 1.5;
	border:2px solid grey;
	border-radius: 8px;
	margin-top: 12px;
	bottom: 13px;
	margin-left: 50px;
	position: absolute;
	-webkit-transition:width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
input.searchbox:focus{
	border:2px solid grey;
}
input[type=text]:focus{
	width: 15%;
}
.gambar1{
	margin-top: 33px;
	width: 100%;
	height: 430px;
	position: absolute;
	z-index: -1;
}
ul.nav2 {
		background-color:blue;
		list-style-type:none;
		padding: 0px;
		margin: 0px;
		border-bottom: 1px solid gray;
		height: 50px;
		z-index: 10;
		position: static;
		margin-top:445px;
		margin-left: 280px;
		margin-right: 269px;
	}
	li.cont1{
		display:inline-block;
		overflow: hidden;
		margin-bottom: 1px;
		position: relative;
		color: white;
		text-decoration: none;
		padding:15px;
		padding-left: 67px;
	}
	li a.cont1:hover{
		color: white;
		background-color: black;
	}
	li a.cont1 {
		color: white;
	}ul.header-artikel{
		background-color: blue;
		margin: 0;
		padding: 0;	
		list-style-type: none;
		margin-top: 20px;
	}
	ul.header-artikel li{
		color: white;
		padding: 14px 16px;
		font-family: sans-serif;
		background-color: blue;
		height: 26px;
	}
	ul.header-artikel p{
		color: white;
		background-color: deepskyblue;
		padding: 14px 16px;
		margin-top: -14px;
		border-top: 4px solid black;
		text-align: center;
		font-weight: bolder;
		border-bottom: 4px solid black;
		letter-spacing: 2px;
	}
	.paralax{
	margin-top: 33px;
	width: 100%;
	height: 430px;
	position: absolute;
	z-index: -1;
	min-height: 430px;
	background-image: url('img/bungo.jpeg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}