.konten{
	background-color: black;
	opacity: 0.8;
	padding-bottom: 20px;
}
.judul{
	color: white;
	text-align: center;
	font-family: tahoma;
	font-size: 30px;
	letter-spacing: 2px;
	padding-top: 30px;
	border-top:3px solid red; 
}
.gambartikel{
	text-align: center;
}
.img{
	width: 800px;
	height: 500px;
	border: 2px solid red;
	margin-top: 20px;
}
.isiart{
	text-align: center;
	color: red;
	font-family: times;
	font-size: 30px;
	font-weight: bolder;
}
span{
	color: red;
}
.artisi{
	color: white;
	font-size: 17px;
	font-family: times;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}
.artisi2{
	color: white;
	font-size: 17px;
	font-family: times;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
}
h5{
	color: red;
	font-family: times;
	font-size: 26px;
	font-weight: bolder;
	margin-bottom: -10px;
	margin-top: 30px;
	margin-left: 30px;
	text-align: left;
}
.artisi3{
	color: red;
	font-size: 26px;
	font-family: times;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 30px;
	font-weight: bolder;
}
.tsun3{
	width: 400px;
	height: 250px;
	margin-top: 50px;
	border: 2px solid gray;
}
p{
	color: white;
	font-family: times;
	font-size: 20px;
}
.tambahan{
	margin-top: 50px;
	border-top:2px solid red; 
}
.ptamb{
	color: white;
	font-family: times;
	font-size: 36px;
	padding-left: 20px;
	border-bottom: 2px solid red;
}
p.related1{
	font-size: 36px;
	font-family: times;
	padding-left: 20px;
	margin-top: -20px;
}
p.related{
	font-size: 18px;
	font-family: times;
	padding-left: 20px;
	margin-top: -10px;
}
.tsun2{
	width: 200px;
	height: 250px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
}
.baca-juga{
	margin-top: 30px;
}
h4 {
	color: red;
	font-family: times;
	font-size: 28px;
	margin-top: 50px;
}
.h42{
	color: red;
	font-size: 25px;
	margin-top: -10px;
}
.ul1 {
	font-size: 20px;
	font-family: times;
	color: red;
}
.ul1 > li{
	margin-top: 10px;
	color: red;
}
.tsun21 {
	width: 350px;
	height: 200px;
	padding-left: 20px;
}